<div class="fixed-top">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="p-4 menu">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="signup.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Previous Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="logo-image">
        <img src="img/logo.png" class="img-fluid" alt="restaurant logo">
      </div>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      <div class="form">
          <h3>Claw 3 from the following Meats Vegtables or Cheeses!</h3>
          <p>(If no toppings are chossen your default order will be a plain cheese pizza)</p>
          <div class="toppings">
            <div class="btn-group meats btnRow" role="group"></div><br>
            <div class="btn-group veggies btnRow" role="group"></div><br>
            <div class="btn-group cheeses btnRow" role="group"></div>
          </div>
          <div class="card pizzaCard" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Your Pizza</h5>
              <p class="card-text topOne">No Topping</p>
              <p class="card-text topTwo">No Topping</p>
              <p class="card-text topThree">No Topping</p>
              <a href="#" class="card-link">Add this order!</a>
            </div>
          </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/createOrder.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>