{{#each orders}}
    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{{pizzaName}}}</h5>
        <p class="card-text">{{{toppingOne}}}</p>
        <p class="card-text">{{{toppingTwo}}}</p>
        <p class="card-text">{{{toppingThree}}}</p>
        <a href="#" class="card-link">Claw this pie!</a>
    </div>
    </div>
{{/each}}

    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Claw Your Own</h5>
        <p class="card-text">Make your own pie with up to 3 ingredients!</p>
        <a href="#" class="card-link">Claw my own!</a>
    </div>
    </div>