<div class="fixed-top">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="p-4 menu">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="signup.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Previous Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="logo-image">
        <img src="img/logo.png" class="img-fluid" alt="restaurant logo">
      </div>
    </nav>
  </div>
  <!-- Pizza Promo and Login Form -->
  <div class="container">
    {{#each orders}}
        <div class="card pizzaCard cardFloat" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{{pizzaName}}}</h5>
                <p class="card-text">{{{toppingOne}}}</p>
                <p class="card-text">{{{toppingTwo}}}</p>
                <p class="card-text">{{{toppingThree}}}</p>
                <a href="#" class="card-link">Claw this pie!</a>
            </div>
        </div>
    {{/each}}

    <div class="card pizzaCard cardFloat" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Claw Your Own</h5>
            <p class="card-text text-center">Make your own pie with up to 3 ingredients!</p>
            <a href="#" class="card-link createOwn">Claw my own!</a>
        </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/orders.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
